article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a:focus {
    outline: thin dotted;
}

a:active, a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

mark {
    background: #ff0;
    color: #000;
}

code, kbd, pre, samp {
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button, input {
    line-height: normal;
}

button, select {
    text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled], html input[disabled] {
    cursor: default;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    font-size: 15px;
}

html {
    background: #000;
}

body {
    font-family:Roboto,sans-serif,Garamond, "Times New Roman", serif;
    min-height: 100vh;
    color: #57585c;
    color: var(--color-text);
    background-color: #000;
    overflow: hidden;
}

/* Color schemes */

.network {
    --color-text: #5c5ee7;
    --color-link: #0ab5e4;
    --color-link-hover: #fff;
    --color-title: white;
    overflow: scroll;
}

/* Fade effect */
.js body {
    transition: opacity 0.3s;
}

.js body.render {
    opacity: 1;
}

/* Page Loader */
.js .loading::before {
    content: '';
    position: relative;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
    overflow: scroll;
}

.js .loading::after {
    content: '';
    position: relative;
    z-index: 100000;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    pointer-events: none;
    border-radius: 50%;
    opacity: 0.4;
    background: var(--color-link);
    animation: loaderAnim 0.7s linear infinite alternate forwards;
    overflow: scroll;
}

@keyframes loaderAnim {
    to {
        opacity: 1;
        transform: scale3d(0.5, 0.5, 1);
    }
}

a {
    text-decoration: none;
    background: rgba(248, 249, 250, 0.5);
    color: rgba(24, 24, 25,0.7);;
    outline: none;
}

a:hover,
a:focus {
    color: var(--color-link-hover);
    outline: none;
}

.frame {
    padding: 3rem 5vw;
    text-align: center;
    position: relative;
    z-index: 1000;
}

.frame__title {
    font-size: 1rem;
    margin: 0 0 1rem;
    font-weight: normal;
}

.frame__links {
    display: inline;
}

.frame__github,
.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
    margin-right: 1rem;
}

.frame__demos {
    margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
    text-decoration: underline;
    color: var(--color-link);
}



.content__title {
    left: 0;
    padding-top:1em;
    text-align: center;
    margin: -5.5vw 0 0 0;
    z-index: 100;
    line-height: 1;
    padding-left: 5%;
    padding-right:5%;
    font-size: 1.8em;
    color: #ffffff;

}
.content {
    z-index: 100;
    padding-left: 5%;
    font-size: 1.2em;
    color: whitesmoke;
}
.content__content{
    left: 0;
    margin: -5.5vw 0 0 0;
    z-index: 100;
    line-height: 1;
    padding-left: 5%;
    font-size: 2em;
    color: rgba(24, 24, 25,0.7);
}


.navbar{
    background: rgba(248, 249, 250, 0.5);
    color: rgba(24, 24, 25,0.7);
}
.sonet{
    padding: 2em;
}
.fa-twitter-square{
    margin-bottom: 2em;
}
.nav.a{
    background: rgba(248, 249, 250, 0.5);
    color: rgba(24, 24, 25,0.7);
}
.articles{
    padding-top: 100px;
}
form{
    width: 20em;
    margin: auto;
    padding-top: 10em;
}
html {
    font-size: 1rem;
}
/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
    background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: dimgrey;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

a {
    background-color: #D3D3D3;
}
body{
    overflow: scroll;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
body {
    line-height: 24px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #777777; }


.list {
    list-style: none;
    margin: 0px;
    padding: 0px; }

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out; }
a:hover, a:focus {
    text-decoration: none;
    outline: none; }

button:focus {
    outline: none;
    box-shadow: none; }

.mt-25 {
    margin-top: 25px; }

.p0 {
    padding-left: 0px;
    padding-right: 0px; }

.white_bg {
    background: #fff !important; }

/*---------------------------------------------------- */
/*----------------------------------------------------*/
.section_gap {
    padding: 120px 0; }
@media (max-width: 991px) {
    .section_gap {
        padding: 80px 0; } }

.section_gap_top {
    padding-top: 120px; }
@media (max-width: 991px) {
    .section_gap_top {
        padding-top: 80px; } }

.section_gap_bottom {
    padding-bottom: 120px; }
@media (max-width: 991px) {
    .section_gap_bottom {
        padding-bottom: 80px; } }


.main_title {
    margin-top: 150px;
    text-align: center;
    margin-bottom: 75px; }
@media (max-width: 767px) {
    .main_title {
        margin-bottom: 40px; } }
.main_title h2 {
    font-size: 36px;
    color: #4652bf;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-weight: bold;
}
.main_title p {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    line-height: 24px;
    color: #777777;
    margin-bottom: 0px;
    margin: auto; }
.main_title.white h2 {
    color: #fff; }
.main_title.white p {
    color: #fff;
    opacity: .6; }
.main_title .top_title {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 20px; }



.gradient-bg, .header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link, .blog_right_sidebar .widget_title, .blog_right_sidebar .newsletter_widget .bbtns, .blog_right_sidebar .tag_cloud_widget ul li a:hover, .blog-pagination .page-item.active .page-link, .blog-pagination .page-link:hover, .comments-area .btn-reply:hover, .recent_update_inner .nav.nav-tabs li a.active, .recent_update_inner .nav.nav-tabs li a:hover, .common_style .line:after, .price_item:hover .price_head, .price_item:hover .price_footer, .testimonial_area .active_testimonial .owl-dots, .news_widget .input-group .sub-btn {
    background: -webkit-linear-gradient(90deg, #4652bf 0%, #b7dee4 100%);
    background: -moz-linear-gradient(90deg, #4652bf 0%, #b7dee4 100%);
    background: -o-linear-gradient(90deg, #4652bf 0%, #b7dee4 100%);
    background: linear-gradient(90deg, #4652bf 0%, #b7dee4 100%); }

.border-gradient {
    border-image: -webkit-linear-gradient(90deg, #4652bf 0%, #b7dee4 100%);
    border-image: -moz-linear-gradient(90deg, #4652bf 0%, #b7dee4 100%);
    border-image: -o-linear-gradient(90deg, #4652bf 0%, #b7dee4 100%);
    border-image: linear-gradient(90deg, #4652bf 0%, #b7dee4 100%); }

.gradient-bg2 {
    background: -webkit-linear-gradient(90deg, #4652bf 0%, #b7dee4 100%);
    background: -moz-linear-gradient(90deg, #4652bf 0%, #b7dee4 100%);
    background: -o-linear-gradient(90deg, #4652bf 0%, #b7dee4 100%);
    background: linear-gradient(90deg, #4652bf 0%, #b7dee4 100%); }

.gradient-color, .contact_info .info_item i, .recent_update_inner .nav.nav-tabs li a span.lnr {
    background: -webkit-linear-gradient(90deg, #4652bf 0%, #b7dee4 100%);
    background: -moz-linear-gradient(90deg, #4652bf 0%, #b7dee4 100%);
    background: -o-linear-gradient(90deg, #4652bf 0%, #b7dee4 100%);
    background: linear-gradient(90deg, #4652bf 0%, #b7dee4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

/* End Gradient Area css
============================================================================================ */
.primary_btn {
    display: inline-block;
    color: #22195e;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 47px;
    outline: none !important;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border: double 2px transparent;
    border-radius: 5px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #4652bf, #b7dee4);
    background-image: -webkit-linear-gradient(white, white), -webkit-radial-gradient(circle at top left, #4652bf, #b7dee4);
    background-image: -moz-linear-gradient(white, white), -moz-radial-gradient(circle at top left, #4652bf, #b7dee4);
    background-image: -ms-linear-gradient(white, white), -ms-radial-gradient(circle at top left, #4652bf, #b7dee4);
    background-image: -o-linear-gradient(white, white), -o-radial-gradient(circle at top left, #4652bf, #b7dee4);
    background-origin: border-box;
    background-clip: content-box, border-box; }
.primary_btn span {
    padding: 0 35px; }
.primary_btn:hover {
    background-image: linear-gradient(to right, #4652bf 0%, #b7dee4 100%), radial-gradient(circle at top left, #4652bf, #b7dee4);
    background-image: -webkit-linear-gradient(to right, #4652bf 0%, #b7dee4 100%), -webkit-radial-gradient(circle at top left, #4652bf, #b7dee4);
    background-image: -moz-linear-gradient(to right, #4652bf 0%, #b7dee4 100%), -moz-radial-gradient(circle at top left, #4652bf, #b7dee4);
    background-image: -ms-linear-gradient(to right, #4652bf 0%, #b7dee4 100%), -ms-radial-gradient(circle at top left, #4652bf, #b7dee4);
    background-image: -o-linear-gradient(to right, #4652bf 0%, #b7dee4 100%), -o-radial-gradient(circle at top left, #4652bf, #b7dee4);
    color: #fff;
    box-shadow: 0px 10px 30px rgba(130, 82, 250, 0.2);
    border: 2px solid transparent; }

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%; }


.sample-text-area {
    padding: 100px 0 70px 0; }

.sample-text {
    margin-bottom: 0; }

.text-heading {
    margin-bottom: 30px;
    font-size: 24px; }

.typo-list {
    margin-bottom: 10px; }

@media (max-width: 767px) {
    .typo-sec {
        margin-bottom: 30px; } }
@media (max-width: 767px) {
    .element-wrap {
        margin-top: 30px; } }
b, sup, sub, u, del {
    color: #f8b600; }

h1 {
    font-size: 36px; }

h2 {
    font-size: 30px; }

h3 {
    font-size: 24px; }

h4 {
    font-size: 18px; }

h5 {
    font-size: 16px; }

h6 {
    font-size: 14px; }

.




    /*----------------------------------------------------*/
    /* Start Features Area css
    ============================================================================================ */
.features_area .main_title .primary_btn {
    margin-top: 30px !important; }

.single_feature {
    padding: 30px 0;
    border-bottom: 1px solid #eeeeee; }
.single_feature:last-child {
    border-bottom: 0; }
.single_feature .feature_head {
    position: relative;
    margin-bottom: 15px; }
.single_feature .feature_head span.lnr {
    position: absolute;
    left: 0;
    top: -1px;
    font-size: 30px;
    color: #222222; }
.single_feature .feature_head h4 {
    font-size: 20px;
    color: #222222;
    display: inline-block;
    padding-left: 60px; }
.single_feature .feature_content p {
    margin: 0; }

/* End Features Area css
============================================================================================ */
/* Recent Update Area css
============================================================================================ */
.recent_update_area {
    background-size: cover;
    padding: 290px 0; }
.recent_update_area.made_white {
    background: #fff; }

.recent_update_inner .nav.nav-tabs {
    border: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    border-bottom: 1px solid #4652bf;
    padding-bottom: 1px; }
.recent_update_inner .nav.nav-tabs li {
    flex: 0 0 25%;
    max-width: 195px;
    padding: 0px 15px; }
.recent_update_inner .nav.nav-tabs li a {
    border: none;
    padding: 25px 0px;
    background: #fff;
    text-align: center;
    line-height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000; }
.recent_update_inner .nav.nav-tabs li a span.lnr {
    font-size: 30px;
    font-weight: 600;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
.recent_update_inner .nav.nav-tabs li a.active, .recent_update_inner .nav.nav-tabs li a:hover {
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    color: #fff; }
.recent_update_inner .nav.nav-tabs li a.active span.lnr, .recent_update_inner .nav.nav-tabs li a:hover span.lnr {
    background: -webkit-linear-gradient(90deg, #fff, #fff);
    background: -moz-linear-gradient(90deg, #fff, #fff);
    background: -o-linear-gradient(90deg, #fff, #fff);
    background: linear-gradient(90deg, #fff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
.recent_update_inner .nav.nav-tabs li h6 {
    letter-spacing: 1px;
    margin-top: -10px;
    margin-bottom: 0; }
.recent_update_inner .tab-content .tab-pane {
    border: none;
    padding-top: 80px; }

.recent_update_text .col-lg-5 {
    vertical-align: middle;
    align-self: center; }
.recent_update_text h3 {
    color: #222222;
    line-height: 45px;
    font-size: 36px;
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    margin-bottom: 20px; }
.recent_update_text h6 {
    color: #222222;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", sans-serif; }
.recent_update_text p {
    margin-bottom: 0px; }
.recent_update_text .primary_btn {
    margin-top: 35px; }

.common_style .line {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 10px;
    margin-bottom: 20px; }
.common_style .line:after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 50px;
    content: ""; }
.common_style h3 {
    font-size: 36px;
    color: #222222;
    font-family: "Rajdhani", sans-serif;
    margin-bottom: 20px; }
.common_style p {
    margin: 0; }
.common_style .primary_btn {
    margin-top: 35px; }

/* Recent Update Area css
============================================================================================ */
/* Start Big Features Area css
============================================================================================ */
.big_features .common_style p {
    padding-right: 20px; }

.features_content {
    position: relative; }
.features_content .border-line {
    position: absolute;
    left: 50%;
    height: 100%;
    border: 1px dashed #dbdade; }
.features_content .shape1 {
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -8px; }
.features_content .shape2 {
    position: absolute;
    left: 48%;
    top: 47%;
    margin-left: -15px; }
.features_content .shape3 {
    position: absolute;
    left: 50%;
    top: 62%;
    margin-left: -9px; }

.bottom-features {
    margin-top: 120px; }
.bottom-features .shape3 {
    top: 64%; }

/* End Big Features Area css
============================================================================================ */

/* Start Testimonial Area css
============================================================================================ */
.features_page.testimonial_area {
    padding-top: 320px; }

.testimonial_area .active_testimonial .owl-dots {
    height: 100px;
    width: 25px;
    position: absolute;
    right: -52%;
    top: 37%;
    border-radius: 50px; }
.testimonial_area .active_testimonial .owl-dots div {
    height: 15px;
    width: 15px;
    background: #cda2f8;
    margin: 5px;
    border-radius: 50%;
    margin-top: 8px; }
.testimonial_area .active_testimonial .owl-dots div.active {
    background: #ffffff; }

.single_testimonial .testimonial_head {
    text-align: center; }
.single_testimonial .testimonial_head img {
    margin: 0 auto 10px;
    width: auto; }
.single_testimonial .testimonial_head h4 {
    margin-bottom: 10px;
    color: #000; }
.single_testimonial .testimonial_head .review i.fa {
    color: #ffc000; }
.single_testimonial .testimonial_content {
    margin-top: 30px; }
.single_testimonial .testimonial_content p {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 40px; }

/* End Testimonial Area css
============================================================================================ */








/* Recent Update Area css
============================================================================================ */
.recent_update_area {
    padding: 80px 0;
    background-image: none;
    background-color: #f8f8ff; }

.recent_update_inner li a {
    min-width: 110px; }
.recent_update_inner .recent_update_text .chart_img img {
    margin-top: 50px; }

/* Start Big Features Area css
============================================================================================ */
.big_features .features_content .big_f_left {
    text-align: center; }
.big_features .features_content .big_f_left img {
    max-width: 350px;
    margin-bottom: 50px;
    margin-top: 50px; }
.big_features .features_content p {
    max-width: 500px; }
.big_features .features_content .border-line, .big_features .features_content .shape1, .big_features .features_content .shape2, .big_features .features_content .shape3 {
    display: none; }
.big_features .features_content .bottom-features .common_style .primary_btn {
    margin-bottom: 50px; }
.big_features .features_content .bottom-features .big_f_left img {
    margin-bottom: 0px; }
.big_features .features_content .bottom-features .border-line, .big_features .features_content .bottom-features .shape1, .big_features .features_content .bottom-features .shape2, .big_features .features_content .bottom-features .shape3 {
    display: none; }
.big_features .features_content .common_style p {
    max-width: 600px; }


/* Start Testimonial Area css
============================================================================================ */
.features_page.testimonial_area {
    padding-top: 80px; }

.testimonial_area .active_testimonial .owl-dots {
    position: relative;
    top: 0;
    left: 50%;
    height: 25px;
    width: 100px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
.testimonial_area .active_testimonial .owl-dots div {
    display: inline-block;
    margin-top: 5px; }











/* Start Features Area css
============================================================================================ */
.features_area .left_features {
    display: none; }

/* Recent Update Area css
============================================================================================ */
.recent_update_inner li a {
    min-width: 110px; }
.recent_update_inner .recent_update_text .chart_img img {
    margin-top: 50px; }













.section_gap {
    padding-top: 70px;
    padding-bottom: 70px; }


/*Recent Update Area css
============================================================================================ */
.recent_update_inner li h6 {
    font-size: 12px; }

/* Elements Area css
============================================================================================ */
.sample-text-area {
    padding: 70px 0 70px 0; }

.generic-blockquote {
    padding: 30px 15px 30px 30px; }

/* End Elements Area css
============================================================================================ */
/* Products Area css
============================================================================================ */
.products_area {
    background-size: cover;}
.products_area.made_white {
    background: #fff; }

.products_inner .nav.nav-tabs {
    border: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    border-bottom: 1px solid #4652bf;
    padding-bottom: 1px; }
.products_inner .nav.nav-tabs li {
    flex: 0 0 25%;
    max-width: 195px;
    padding: 0px 15px; }
.products_inner .nav.nav-tabs li a {
    border: none;
    padding: 25px 0px;
    background: #fff;
    text-align: center;
    line-height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000; }
.products_inner .nav.nav-tabs li a span.lnr {
    font-size: 30px;
    font-weight: 600;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
.products_inner .nav.nav-tabs li a.active, .recent_update_inner .nav.nav-tabs li a:hover {
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    color: #fff; }
.products_inner .nav.nav-tabs li a.active span.lnr, .recent_update_inner .nav.nav-tabs li a:hover span.lnr {
    background: -webkit-linear-gradient(90deg, #fff, #fff);
    background: -moz-linear-gradient(90deg, #fff, #fff);
    background: -o-linear-gradient(90deg, #fff, #fff);
    background: linear-gradient(90deg, #fff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
.products_inner .nav.nav-tabs li h6 {
    letter-spacing: 1px;
    margin-top: -10px;
    margin-bottom: 0; }
.products_inner .tab-content .tab-pane {
    border: none;
    padding-top: 80px; }

.products_text .col-lg-5 {
    vertical-align: middle;
    align-self: center; }
.products_text h3 {
    color: #222222;
    line-height: 45px;
    font-size: 36px;
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    margin-bottom: 20px; }
.products_text h6 {
    color: #222222;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", sans-serif; }
.products_text p {
    margin-bottom: 0px; }
.products_text .primary_btn {
    margin-top: 35px; }

.common_style .line {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 10px;
    margin-bottom: 20px; }
.common_style .line:after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 50px;
    content: ""; }
.common_style h3 {
    font-size: 1.5rem;
    font-weight: 800;
    color: #222222;
    margin-bottom: 20px; }
.common_style h5 {
    margin: 0;
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: uppercase;
}
.common_style p {
    margin: 0;
    font-weight: 300;
    font-size: 1.1rem;}
.common_style .primary_btn {
    margin-top: 35px; }